/* Home grid mobile */

#home-grid {
    width: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "info"
        "about";
    gap: 1rem 0.5rem;
    align-content: start;
}


#home-header {
    grid-area: header;
}

#game-status {
    grid-area: main;
}

#play-info {
    grid-area: info;
}

#about-us {
    grid-area: about;
}

#game-schedule {
    grid-area: aside;
}

/* header */

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin: 1.5rem 1rem;
    padding: 1rem;
    border-bottom: 2px solid black;
    border-radius: 20px;
}

h1 {
    font-size: 2.2rem;
    flex: 1;
    border-bottom: 1px solid white;
}

h1,
h2 {
    background: linear-gradient(to top right, var(--accent-color-1), black);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;

    font-family: "Almendra", serif;
    font-weight: 700;
    -webkit-text-stroke: 0.8px white;
    text-align: center;
}



.tagline {
    flex-basis: 40%;
    text-align: center;
    color: black;
    font-weight: 900;
    -webkit-text-stroke: 1px white;
    font-size: 1.1rem;
}


/* Schedule */

.schedule-container {
    height: 100%;
    margin: 0 1rem;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--body-bg-color);
    border: 3px ridge white;
}

/* Main content */

#updates {
    width: 80%;
    text-align: center;
}


/* Tablet + Desktop Grid*/

@media screen and (min-width: 850px) {
    #home-grid {
        grid-template-areas:
            ". header header ."
            ". aside main ."
            ". aside info ."
            ". about about .";
        grid-template-columns: 1fr 2fr 5fr 1fr;
    }

    h1 {
        font-size: 4rem;
    }

    .tagline {
        font-size: 1.5rem;
    }
}