/* Home grid layout */

#home-grid {
    width: 100%;
    display: grid;
    grid-template-areas:
        ". header header ."
        ". main main aside"
        ". info info aside"
        ". about about .";
    grid-template-columns: 2fr 6fr auto 2fr;
    gap: 24px;
}

#home-header {
    grid-area: header;
}

#game-status {
    grid-area: main;
}

#play-info {
    grid-area: info;
}

#about-us {
    grid-area: about;
}

#game-schedule {
    grid-area: aside;
}

/* header */

.header-container {
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg-color);
    margin: 1rem 0 1.5rem;
}

h1 {
    background: linear-gradient(to top right, var(--accent-color-1), black);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;

    font-size: 3rem;
    font-family: "Almendra", serif;
    font-weight: 700;
    -webkit-text-stroke: 1px white;
}

.tagline {
    color: black;
    font-size: 1.2rem;
    font-weight: 900;
    -webkit-text-stroke: 1px white;
}

/* Main - Sections */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-bg-color);
    border: 0.75rem ridge var(--accent-color-1);
}

/* Aside */

.schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-bg-color);
}