.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1020;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(43, 48, 53);
    padding: 0.5rem 0;
}

.navbar-container {
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 0;
}

.navbar-brand {
    text-decoration: none;
    white-space: nowrap;
    color: white;
    font-size: 1.5rem;
    margin-right: 3rem;
    padding: 0.5rem 0;
}

.navbar-toggler {
    padding: 0.4rem 0.5rem 0.5rem;
    font-size: 1.25rem;
    background-color: transparent;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 0.375rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1em;
    color: whitesmoke;
    background-color: rgb(43, 48, 53);
    cursor: pointer;
    border: none;
}

.collapse {
    flex-grow: 1;
    flex-basis: 100%;
}

.collapse:not(.show) {
    display: none;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-item {
    font-size: 1.25rem;
}

.nav-link {
    text-decoration: none;
    display: block;
    background: 0 0;
    border: 0;
    padding: 0.5rem 0;
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }

    .navbar {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .collapse {
        display: flex !important;
        flex-basis: auto;
        align-items: center;
    }

    .navbar-nav {
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }

    .nav-link {
        padding: 0.5rem 0.5rem;
    }
}